body{background-color: #f4f4f4;}

.login{
    width: 300px;
    margin: 100px auto;
}
.login input{
    margin-bottom: 10px;
}
.login .form-control{
    background-color: #e5e5e5;
}
.login .btn{
    background-color: #008ddd;
}

.form-control{position: relative;}
.aserisk{
    position: absolute;right: 20px;
    top: 10px;color: red;
}

.show-pass {
    position: absolute;
    top: 9px;
    right: 35px;
    font-size: 20px;
}

.main-table tr:first-child td{
    background-color: #333;
    color: #fff;
    text-align: center;
}